.nbColors {
  position: fixed;
  left: 50%;
  top: 0;
  color: #fff;
  transform: translateX(-50%);
  background-color: #3273dc;
  /* background-color: #0ba */
  padding: .3rem .6rem;
  font-size: .8rem;
  border-radius: 0 0 .5em .5em;
}
